parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests/StaticAnalysis

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
