parameters:
    level: 8
    paths:
        - lib

    ignoreErrors:
        # https://github.com/phpstan/phpstan-src/pull/1289
        -
            message: '~PHPDoc tag @return with type Doctrine\\Common\\Collections\\ArrayCollection.* is incompatible with native type static.*~'
            path: 'lib/Doctrine/Common/Collections/ArrayCollection.php'
        -
            message: '~Parameter #1 \$key of method Doctrine\\Common\\Collections\\ArrayCollection<TKey of \(int\|string\),T>::set\(\) expects TKey of \(int\|string\), int\|string given\.~'
            path: 'lib/Doctrine/Common/Collections/ArrayCollection.php'
        -
            message: '~Cannot call method .* on Doctrine\\Common\\Collections\\Collection<TKey of \(int\|string\), T>\|null\.~'
            path: 'lib/Doctrine/Common/Collections/AbstractLazyCollection.php'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
