<?xml version="1.0"?>
<psalm
    errorLevel="1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="vendor" />
            <directory name="src/Expr"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MixedArgument errorLevel="info" />
        <MixedArgumentTypeCoercion errorLevel="info" />
        <MixedAssignment errorLevel="info" />

        <PossiblyNullArgument>
            <errorLevel type="suppress">
                <!-- Remove when https://github.com/vimeo/psalm/pull/7759 is released -->
                <referencedFunction name="Doctrine\Common\Collections\Collection::offsetSet" />
            </errorLevel>
        </PossiblyNullArgument>

        <UnsafeGenericInstantiation>
            <errorLevel type="suppress">
                <file name="src/ArrayCollection.php"/>
            </errorLevel>
        </UnsafeGenericInstantiation>

        <UndefinedAttributeClass>
            <errorLevel type="suppress">
                <!-- This class is new in PHP 8.1 and Psalm does not know it yet. -->
                <referencedClass name="ReturnTypeWillChange"/>
            </errorLevel>
        </UndefinedAttributeClass>

        <InvalidTemplateParam>
            <errorLevel type="suppress">
                <!-- https://github.com/vimeo/psalm/issues/8212 -->
                <file name="src/ReadableCollection.php"/>
            </errorLevel>
        </InvalidTemplateParam>
    </issueHandlers>
</psalm>
